*{
    padding: 0px;
    font-family: cursive;
}
html{
    width: 100%;
    
    margin: 0;
}
body{
    background: whitesmoke;
    text-align: center;
    background-size: cover;
    padding: 0;
    margin: 0;
}
header{
    padding-top: 0;
    background: black;
    background-size: cover;
    width: 100%;
    max-height: 50%;
}
.StylePhoto{
    height: 250px;
    width: 250px;
    margin: auto;
    margin-top: 5px;
    border-radius: 10px;
    transition: all 500ms ease-out;

}
.PreFooter{
    background: rgb(142, 168, 113);
}
.text_header{
    display: inline;
    color: rgb(173, 82, 30);
    font-size: 30px;
    font-weight: bold;

    order: 2;
    flex: 1;
}
#header{
    max-width: 100px;
    max-height:100px;
}
p{
    padding: 0px;
    margin: 0px;
}

nav{
    background: rgb(86, 88, 84);
    border:2px solid black;
    color:black;
    text-align: center;
    width: 70%;
    max-width: 700px;
    min-width: 400px;
    height: auto;
    margin: auto;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#navbar a {
    
    display: inline-block;
    font-family: cursive;
    color: black;
    margin: auto;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    width: auto;
}

#navbar a:hover {
    transition: all 500ms ease-out;
    border-radius: 5px 5px;
    background-color: #000000fd;
    color: white;
}

.container-fluid{
    flex-direction: column;
    max-width: 700px;
    min-width: 500px;
    font-size: 20px;
}
.img_for_main{
    width: 50%;
    height: auto;
    margin: auto;
    border-radius: 200px;
}
.container-fluid{
    margin-top: 10px;
    background: rgb(86, 88, 84);
    border-radius: 10px;
}
.row{
    margin: 0;
}
p{
    color:white;
    margin: 0;
}
.col{
    margin: auto;
    text-align: center;
}
H3{
    color:black;
    margin: 0;
}
.rev
{
    font-weight: bold;
    font-size: 30px;
    color: rgb(173, 82, 30);
}
.anyRev
{
    padding-left: 30px;
    text-align: left;
    margin: auto;
    margin-bottom: 10px;
    background: whitesmoke;
    width: 80%;
    border-radius: 100px;
}
.reviev
{
    max-width: 75%;
    
    max-width: 700px;
    margin: auto;
    margin-top: 5px;
    border-radius: 10px;
    color: black;
    background: rgb(86, 88, 84);
    padding-bottom: 5px;
}
footer{
    margin-top: 5px;
    background: rgb(0, 0, 0);
    height: auto;
}
footer a:hover{
    transition: all 500ms ease-out;
    text-decoration: none;
    color: rgb(173, 82, 30);
}
footer a{
    margin:auto;
    text-align: center;
    color: white;
    text-decoration: none;
}
